@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 50px;
}

header h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
header h2 {
    margin-left: 15px;
    font-size: 24px;
}

.ropasc{
    height: 100vh;
    width: 100%;
    display: flex;
}

.controls, .play{
    margin-top: 120px;
}

.controls{
    width: 30%;
    background-color: #daddd8;
    color: black;
}

.controls h2, .play h2{
    text-align: center;
    margin: 40px;
}

.controls .score{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.controls .score .score-sections{
    display: flex;
    justify-content: space-between;
    border: 2px solid #1c1c1c;
    border-bottom: none;
    padding: 20px;
    align-items: center;
}

.controls .score .score-sections:last-child{
    border-bottom: 2px solid #1c1c1c;
}

.controls .score .score-sections input{
    width: 30%;
    text-align: right;
    font-size: 20px;
    padding: 20px;
    border: none;
}

.controls .new{
    justify-content: center;
    display: flex;
    margin: 40px;
}

.controls .new button{
    width: 40%;
    padding: 15px;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #d4a373;
}
.play{
    width: 70%;
    background-color: #fafaff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play .choices-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.play .choices-list .choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #1c1c1c;
    border-bottom: none;
    width: 60%;
    gap: 40px;
}

.play .choices-list .choice:last-child{
    border-bottom: 2px solid #1c1c1c;
}


.play .choices-list .choice input{
    width: 50%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
}

.play .bc{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 40px 0;
    gap: 20px;
    padding: 0 20px;
}

.play .bc button{
    width: calc(100%/3);
    padding: 15px;
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #1c1c1c;
    color: white;
}
.win{
    background-color: #a8e6a1 !important;
}
.lose{
    background-color: #f7a8a8 !important;
}
.draw{
    background-color: #f7f3a8 !important;
}